# SPDX-FileCopyrightText: 2023 Steffen Vogel <post@steffenvogel.de>
# SPDX-License-Identifier: Apache-2.0

# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/github-workflow.json
---
name: Lint

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    env:
      CGO_ENABLED: "0"

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        check-latest: true

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.54.0
